body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, main, footer {
    margin: 20px;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    justify-content: space-between;
}

#productos, #carrito {
    width: 45%;
    border: 1px solid #ccc;
    padding: 10px;
}

.producto, li {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

